.page {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-color), var(--s2color));
    color: white;
    font-family: 'Aladin', cursive;
    box-sizing: border-box;
    height: 90vh; 
    position: relative;
    border: solid;
}

.page h1 {
    font-size: 3rem;
}
